Options -Indexes

# On autorise l'accès à l'ip 213.228.62.51
#Allow from 213.228.62.51
# On interdit l'accès à toutes les autres ips
#Deny from All

#AuthUserFile www/secret/passlist.txt
#AuthName "Acces Restreint"
#AuthType Basic
#require valid-user
